<?xml version="1.0"?>
<launch>
	<arg name="use_cloud_storage_mode" default="false" />
	<include file="$(find pointcloud_registration)/launch/config/pointcloud_registration.launch">
		<arg name="use_cloud_storage_mode" default="$(arg use_cloud_storage_mode)" />
	</include>
	<include file="$(find pointcloud_registration)/launch/config/tfs_sensor.launch" />
	<include file="$(find pointcloud_registration)/launch/config/tfs_user_coordinate_systems.launch" />
</launch>
