<?xml version="1.0"?>
<launch>
	<arg name="use_cloud_storage_mode" default="false" />
	<arg name="use_normal_estimation" default="false" />
	<arg name="use_euclidean_clustering_segmentation" default="true" />
	<arg name="use_pca_for_initial_alignment" default="true" />
	<arg name="use_feature_matching_for_initial_alignment" default="false" />
	<arg name="base_link_frame_id" default="base_link" />
	<arg name="publish_tfs" default="true" />

	<include file="$(find pointcloud_registration)/launch/config/pointcloud_registration.launch">
		<arg name="use_cloud_storage_mode" default="$(arg use_cloud_storage_mode)" />
		<arg name="use_normal_estimation" default="$(arg use_normal_estimation)" />
		<arg name="use_euclidean_clustering_segmentation" default="$(arg use_euclidean_clustering_segmentation)" />
		<arg name="use_pca_for_initial_alignment" default="$(arg use_pca_for_initial_alignment)" />
		<arg name="use_feature_matching_for_initial_alignment" default="$(arg use_feature_matching_for_initial_alignment)" />
		<arg name="base_link_frame_id" default="$(arg base_link_frame_id)" />
	</include>

	<group if="$(arg publish_tfs)">
		<include file="$(find pointcloud_registration)/launch/config/tfs_sensor.launch" />
		<include file="$(find pointcloud_registration)/launch/config/tfs_user_coordinate_systems.launch" />
	</group>
</launch>
